<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- 200 MB limit to support large file upload -->
        <requestLimits maxAllowedContentLength="209715200" />
      </requestFiltering>
    </security>
    <!-- Increase the request timeout (default 00:02:00) -->
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore requestTimeout="00:10:00" processPath="dotnet" arguments=".\Distech.CloudRelay.API.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
</configuration>
<!--ProjectGuid: E0AD632E-55E0-42B8-9147-5B4B34A44EB6-->